.header{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(218, 189, 28);
}
.myprofile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}



